replicaCount: 1

image:
  repository: 
  tag: 
  pullPolicy: IfNotPresent

serviceAccount: 
  create: false
  name: ""

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: "250m"
    memory: "256Mi"
  requests:
    cpu: "100m"
    memory: "128Mi"

env:
  LOG_LEVEL: info

ingress:
  enabled: false
hpa:
  enabled: false
httpRoute:
  enabled: false
